<!DOCTYPE html>
<html>
  <head>
    <title>문창부</title>
      <style>
          body {
              background-color: pink;
          }
      </style>
  </head>
  <body>
    <h1>문창부</h1>
    <h1>고기 먹고싶다</h1>
  </body>
</html>
 